<div id="<%= dom_id hotline %>">
  <p>
    <strong>Title:</strong>
    <%= hotline.title %>
  </p>

  <p>
    <strong>Strategy:</strong>
    <%= hotline.strategy %>
  </p>

  <p>
    <strong>Timeout:</strong>
    <%= hotline.timeout %>
  </p>

  <p>
    <strong>Retry:</strong>
    <%= hotline.retry %>
  </p>

  <p>
    <strong>Wrapuptime:</strong>
    <%= hotline.wrapuptime %>
  </p>

  <p>
    <strong>Maxlen:</strong>
    <%= hotline.maxlen %>
  </p>

</div>
