<h4>Queues Here</h2>

<table  id="productsTable01" class="table table-hover table-product" style="width:80%">
    <tr>
    <td>Name</td><td>Strategy</td><td>Timeout</td><td>Retry</td><td>Wrapuptime</td><td>Max Length</td>
    <td style="width:55px" align="right"><a class="dropdown-item" href="../hotlines/new"><button type="button" class="mb-1 btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i>New</button></a></td>


    </tr>


  <% @hotlines.each do |hotline| %>
    <tr>


<td> <%= hotline.title %></td><td> <%= hotline.strategy %></td><td><%= hotline.timeout %></td><td><%= hotline.retry %></td><td><%= hotline.wrapuptime %></td><td><%= hotline.maxlen %></td>
          <td style="width:50px" align="right">
            <div class="dropdown" style="width:50px">
              <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink<%= hotline.id %>"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" style="width:50px">
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink<%= hotline.id %>" style="width:50px">

<% if @userpermissionspages['permission_agents'] == 1 %>
<%= button_to "<i class=\"fa fa-user\" aria-hidden=\"true\"></i> Agents</button>".html_safe, agents_path(hotline), class: 'mb-1 btn btn-primary btn-pill', :method => :get %>
<% end %>
            <%= button_to "<i class=\"fa fa-pencil-square-o\" aria-hidden=\"true\"></i> Edit</button>".html_safe, edit_hotline_path(hotline), class: 'btn btn-info btn-pill', :method => :get %>
<button type="button" class="btn btn-danger btn-pill" data-toggle="modal" data-target="#delModal" data-href="../hotlines/<%= hotline.id %>"  onClick="setDelHotline(<%= hotline.id %>)">Delete</button>
              </div>
            </div>
          </td>

    </tr>
  <% end %>



</table>
