<table  id="productsTable01" class="table table-hover table-product" style="width:98%">
    <tr>
    <td><%= I18n.t(:created) %></td><td><%= I18n.t(:user) %></td><td>IP</td><td><%= I18n.t(:event) %></td><td>URL</td>
    </tr>


  <% @logs.each do |log| %>
    <tr>


<td> <%= log.created_at.localtime.to_s[0..19] %></td><td><%= log.user.username %></td><td><%= log.ipaddr %></td><td><%= log.event %></td><td><%= log.url %></td>
    </tr>
  <% end %>



</table>
