<%= form_with(url: search_logs_path, method: :post) do |form| %>
  <div class="row">
    <div class="col-sm-2">
     <div class="form-group">


  <div>
    <%= form.label I18n.t(:startdate), style: "display: block" %>
    <%= form.date_field :startdate, class: "col-9 form-control rounded-pill", value: locals[:startdate] %>
  </div>


</div>
</div>
<div class="col-sm-2">
<div class="form-group">

  <div>
    <%= form.label I18n.t(:stopdate), style: "display: block" %>
    <%= form.date_field :stopdate, class: "col-9 form-control rounded-pill", value: locals[:stopdate] %>
  </div>


</div>
</div>
<div class="col-sm-2">
<div class="form-group">



  <div>
    <%= form.label I18n.t(:event), style: "display: block" %>
    <%= form.select :event, ['All','createstepplayback','destroystep','updatestepmenu','updatestepplayback','updatestepdial','createsound','destroysound','createsip','updatesip','destroysip','createroute','updateroute','destroyroute','createqueue','updatequeue','destroyqueue','createexten','updateexten','destroyexten','createagent','updateagent','destroyagent'] , {prompt: "Choose Event", selected: locals[:event]} , {class: "col-9 form-control rounded-pill"} %>
  </div>


</div>
</div>
</div>



  <div>
   <br><%= form.submit locals[:btitle], :class => 'btn btn-sm btn-success btn-pill'%>
  </div>
<% end %>
<br>
