<%= form_with(url: search_messages_path, method: :post) do |form| %>
  <div class="row">
    <div class="col-sm-2">
     <div class="form-group">


  <div>
    <%= form.label I18n.t(:startdate), style: "display: block" %>
    <%= form.date_field :startdate, class: "col-9 form-control rounded-pill", value: locals[:startdate] %>
  </div>


</div>
</div>
<div class="col-sm-2">
<div class="form-group">

  <div>
    <%= form.label I18n.t(:stopdate), style: "display: block" %>
    <%= form.date_field :stopdate, class: "col-9 form-control rounded-pill", value: locals[:stopdate] %>
  </div>


</div>
</div>
</div>



  <div>
   <br><%= form.submit locals[:btitle], :class => 'btn btn-sm btn-success btn-pill'%>
  </div>
<% end %>
<br>
