<h4><%= I18n.t(:notes) %></h4>

<table  id="extenTable" class="table table-hover table-product" style="width:98%">
    <tr>
    <td ><%= I18n.t(:user) %></td><td><%= I18n.t(:time) %></td><td><%= I18n.t(:subject) %></td><td><%= I18n.t(:notetext) %></td>
    <td style="width:55px" align="right"><a class="dropdown-item" href="../<%= @client.id.to_s  %>/notes/new"><button type="button" class="mb-1 btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i><%= I18n.t(:new) %></button></a></td>
    </tr>




<div id="notes">
  <% @notes.each do |note| %>
    <%= render note %>
  <% end %>
</div>



</table>


<div>
  <%= link_to I18n.t(:backtoclients), clients_path %>
</div>
