<div id="<%= dom_id exten %>">
  <p>
    <strong>Exten:</strong>
    <%= exten.exten %>
  </p>

  <p>
    <strong>Secret:</strong>
    <%= exten.secret %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= exten.name %>
  </p>

  <p>
    <strong>Decription:</strong>
    <%= exten.decription %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= exten.account_id %>
  </p>

  <p>
    <strong>Sip:</strong>
    <%= exten.sip_id %>
  </p>

</div>
