<%= form_with(model: exten) do |form| %>
  <% if exten.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exten.errors.count, "error") %> prohibited this exten from being saved:</h2>

      <ul>
        <% exten.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">


  <div>
    <%= form.label :exten, style: "display: block" %>
    <%= form.text_field :exten, class: "col-6 form-control rounded-pill" %>
  </div>

</div>
</div>


<div class="col-sm-4">
<div class="form-group">


  <div>
    <%= form.label :secret, style: "display: block" %>
    <%= form.text_field :secret, class: "col-6 form-control rounded-pill" %>
  </div>

</div>
</div>
</div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "col-2 form-control rounded-pill" %>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">

  <div>
    <%= form.label :web_phone, style: "display: block" %>
    <%= form.select :webrtc, ['Yes', 'No'] , {prompt: "Is Web phone?"} , {class: "col-6 form-control rounded-pill"}%>
  </div>


</div>
</div>
<div class="col-sm-3">
<div class="form-group">

  <div>
    <%= form.label :record, style: "display: block" %>
    <%= form.select :record, ['Yes', 'No'] , {prompt: "Record Call or No?"} , {class: "col-6 form-control rounded-pill"}%>
  </div>


</div>
</div>
<div class="col-sm-3">
<div class="form-group">


  <div>
    <%= form.label :calllimit, style: "display: block" %>
    <%= form.text_field :calllimit, class: "col-4 form-control rounded-pill" %>
  </div>

</div>
</div>
</div>



  <div>
    <%= form.label :decription, style: "display: block" %>
    <%= form.text_field :decription, class: "col-6 form-control rounded-pill" %>
  </div>

  <div>
    <%= form.label :sip_id, style: "display: block" %>
    <%= form.collection_select :sip_id, Sip.all.where(account_id: current_user.account.id), :id, :number , {prompt: "Select Outbound Peer"} , {class: "col-2 form-control rounded-pill"} %>
  </div>


  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">

  <div>
    <%= form.label :voice_mail, style: "display: block" %>
    <%= form.select :voicemail, ['Yes', 'No'] , {prompt: "Has Voicemail?"} , {class: "col-8 form-control rounded-pill"}%>
  </div>


</div>
</div>


<div class="col-sm-2">
<div class="form-group">

<% vmpassword = "" %>
<% vmemail = "" %>
<% if exten.voicemail != nil %>
<% vmpassword = exten.voicemail.password %>
<% vmemail = exten.voicemail.email %>
<% end %>

  <div>
    <%= form.label :vm_secret, style: "display: block" %>
    <%= form.text_field :vmsecret, class: "col-8 form-control rounded-pill", value: vmpassword %>
  </div>

</div>
</div>


<div class="col-sm-2">
<div class="form-group">


  <div>
    <%= form.label :vm_email, style: "display: block" %>
    <%= form.text_field :vmemail, class: "col-12 form-control rounded-pill", value: vmpassword %>
  </div>

</div>
</div>
</div>



  <div>
    <br><%= form.submit btitle, :class => 'btn btn-sm btn-success btn-pill'%>
  </div>



<% end %>
