<div id="<%= dom_id client %>">
  <p>
    <strong>Firstname:</strong>
    <%= client.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= client.lastname %>
  </p>

  <p>
    <strong>Phone1:</strong>
    <%= client.phone1 %>
  </p>

  <p>
    <strong>Phone2:</strong>
    <%= client.phone2 %>
  </p>

  <p>
    <strong>Phone3:</strong>
    <%= client.phone3 %>
  </p>

  <p>
    <strong>Idnum:</strong>
    <%= client.idnum %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= client.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= client.city %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= client.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= client.birthday %>
  </p>

</div>
