<div id="<%= dom_id sip %>">
  <p>
    <strong>Sipid:</strong>
    <%= sip.sipid %>
  </p>

  <p>
    <strong>Secret:</strong>
    <%= sip.secret %>
  </p>

  <p>
    <strong>Host:</strong>
    <%= sip.host %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= sip.number %>
  </p>

  <p>
    <strong>Decription:</strong>
    <%= sip.decription %>
  </p>

</div>
