<div id="<%= dom_id agent %>">
  <p>
    <strong>Account:</strong>
    <%= agent.account_id %>
  </p>

  <p>
    <strong>Hotline:</strong>
    <%= agent.hotline_id %>
  </p>

  <p>
    <strong>Exten:</strong>
    <%= agent.exten_id %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= agent.priority %>
  </p>

</div>
