<%= form_with(model: agent) do |form| %>
  <% if agent.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(agent.errors.count, "error") %> prohibited this agent from being saved:</h2>

      <ul>
        <% agent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= form.label :exten_id, style: "display: block" %>
    <%= form.collection_select :exten_id, Exten.all.where(account_id: current_user.account.id), :id, :exten , {prompt: "Select Extension"} , {class: "col-2 form-control rounded-pill"} %>
  </div>



  <div>
    <%= form.label :priority, style: "display: block" %>
<%= form.select :priority, ['0', '1','2','3','4','5','6','7','8','9'] , {prompt: "Select Priority"} , {class: "col-2 form-control rounded-pill"}%>
  </div>

  <div>
<br><%= form.submit btitle, :class => 'btn btn-sm btn-success btn-pill'%>
  </div>
<% end %>
