<h4>Agents Here</h2>

<table  id="productsTable01" class="table table-hover table-product" style="width:80%">
    <tr>
    <td colspan=2 align=center>Queue</td><td>Extension</td><td>Priority</td>
    <td style="width:55px" align="right">

<%= link_to "<button type=\"button\" class=\"mb-1 btn btn-success\"><i class=\"fa fa-plus-circle\" aria-hidden=\"true\"></i> New</button>".html_safe, new_agent_path(@hotline), class: 'dropdown-item', :method => :get %>

</td>


    </tr>


  <% @agents.each do |agent| %>
    <tr>

<td>

<% extstatus="" %>
<% extstatus =  @sipsonline[agent.exten.account_id.to_s + agent.exten.exten ] if @sipsonline[agent.exten.account_id.to_s + agent.exten.exten ] != nil  %>

<% if extstatus == "online" %>
<span class="mdi mdi-name text-success"><i class="fa fa-circle" aria-hidden="true"></i></span>
<% else %>
<span class="mdi mdi-name text-muted"><i class="fa fa-circle-o" aria-hidden="true"></i></span>
<% end %>

</div>
</td>


<td> <%= agent.hotline.title %></td><td><%= agent.exten.exten %></td><td><%= agent.priority %></td>
          <td style="width:50px" align="right">
            <div class="dropdown" style="width:50px">
              <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink<%= agent.id %>"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" style="width:50px">
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink<%= agent.id %>" style="width:50px">

            <%= button_to "<i class=\"fa fa-pencil-square-o\" aria-hidden=\"true\"></i> Edit</button>".html_safe, edit_agent_path(agent.hotline,agent), class: 'btn btn-info btn-pill', :method => :get %>
<button type="button" class="btn btn-danger btn-pill" data-toggle="modal" data-target="#delModal" data-href="../agents/<%= agent.id %>"  onClick="setDelAgent(<%= agent.hotline.id %>,<%= agent.id %>)">Delete</button>
              </div>
            </div>
          </td>

    </tr>
  <% end %>



</table>

<div>
  <%= link_to "Back to Queues", hotlines_path %>
</div>
