<h4>Queue Operators</h4>
<table  id="accountsTable" class="table table-hover table-product" style="width:98%">
<tr>
<td>Agent</td>
<td>Name</td>
<td class="table-primary">All IN</td>
<td class="table-primary">Answered</td>
<td class="table-primary">Missed</td>
<td class="table-primary">Duration</td>
<td class="table-primary">Average</td>

<td class="table-success">All OUT</td>
<td class="table-success">Answered</td>
<td class="table-success">Missed</td>
<td class="table-success">Duration</td>
<td class="table-success">Average</td>




<% locals[:agentrowdata].each do |myagent| %>
<tr>
<td class="table-info"><%= myagent["agent"] %></td>
<td class="table-info"><%= myagent["agentname"] %></td>
<td class="table-primary" style="cursor: pointer" onClick="getCalls('473','<%= locals[:queueid] %>','<%= myagent["agent"] %>','<%= locals[:datestart] %>','<%= locals[:dateend] %>')"><%= myagent["all"] %></td>
<td class="table-primary" style="cursor: pointer" onClick="getCalls('507','<%= locals[:queueid] %>','<%= myagent["agent"] %>','<%= locals[:datestart] %>','<%= locals[:dateend] %>')"><%= myagent["success"] %></td>
<td class="table-primary" style="cursor: pointer" onClick="getCalls('683','<%= locals[:queueid] %>','<%= myagent["agent"] %>','<%= locals[:datestart] %>','<%= locals[:dateend] %>')"><%= myagent["missed"] %></td>
<td class="table-primary"><%= myagent["duration"] %></td>
<td class="table-primary"><%= myagent["avgduration"] %></td>

<td class="table-success" style="cursor: pointer" onClick="getCalls('7472','<%= locals[:queueid] %>','<%= myagent["agent"] %>','<%= locals[:datestart] %>','<%= locals[:dateend] %>')"><%= myagent["cdrall"] %></td>
<td class="table-success" style="cursor: pointer" onClick="getCalls('2573','<%= locals[:queueid] %>','<%= myagent["agent"] %>','<%= locals[:datestart] %>','<%= locals[:dateend] %>')"><%= myagent["cdrsuccess"] %></td>
<td class="table-success" style="cursor: pointer" onClick="getCalls('8379','<%= locals[:queueid] %>','<%= myagent["agent"] %>','<%= locals[:datestart] %>','<%= locals[:dateend] %>')"><%= myagent["cdrmissed"] %></td>
<td class="table-success"><%= myagent["cdrduration"] %></td>
<td class="table-success"><%= myagent["cdravgduration"] %></td>

</tr>
<% end %>


</table>
