<h4><%= I18n.t(:queueoperators) %></h4>
<table  id="accountsTable" class="table table-hover table-product" style="width:98%;font-size:14px">
<tr>
<td><%= I18n.t(:agent) %></td>
<td><%= I18n.t(:name) %></td>
<td class="table-primary"><%= I18n.t(:allin) %></td>
<td class="table-primary"><%= I18n.t(:answered) %></td>
<td class="table-primary"><%= I18n.t(:missed) %></td>
<td class="table-primary"><%= I18n.t(:duration) %></td>
<td class="table-primary"><%= I18n.t(:averagedur) %></td>

<td class="table-success"><%= I18n.t(:allout) %></td>
<td class="table-success"><%= I18n.t(:answered) %></td>
<td class="table-success"><%= I18n.t(:missed) %></td>
<td class="table-success"><%= I18n.t(:duration) %></td>
<td class="table-success"><%= I18n.t(:averagedur) %></td>




<% locals[:agentrowdata].each do |myagent| %>
<tr>
<td class="table-info"><%= myagent["agent"] %></td>
<td class="table-info"><%= myagent["agentname"] %></td>
<td class="table-primary" style="cursor: pointer" onClick="getCalls('473','<%= locals[:queueid] %>','<%= myagent["agent"] %>','<%= locals[:datestart] %>','<%= locals[:dateend] %>')"><%= myagent["all"] %></td>
<td class="table-primary" style="cursor: pointer" onClick="getCalls('507','<%= locals[:queueid] %>','<%= myagent["agent"] %>','<%= locals[:datestart] %>','<%= locals[:dateend] %>')"><%= myagent["success"] %></td>
<td class="table-primary" style="cursor: pointer" onClick="getCalls('683','<%= locals[:queueid] %>','<%= myagent["agent"] %>','<%= locals[:datestart] %>','<%= locals[:dateend] %>')"><%= myagent["missed"] %></td>
<td class="table-primary"><%= myagent["duration"] %></td>
<td class="table-primary"><%= myagent["avgduration"] %></td>

<td class="table-success" style="cursor: pointer" onClick="getCalls('7472','<%= locals[:queueid] %>','<%= myagent["agent"] %>','<%= locals[:datestart] %>','<%= locals[:dateend] %>')"><%= myagent["cdrall"] %></td>
<td class="table-success" style="cursor: pointer" onClick="getCalls('2573','<%= locals[:queueid] %>','<%= myagent["agent"] %>','<%= locals[:datestart] %>','<%= locals[:dateend] %>')"><%= myagent["cdrsuccess"] %></td>
<td class="table-success" style="cursor: pointer" onClick="getCalls('8379','<%= locals[:queueid] %>','<%= myagent["agent"] %>','<%= locals[:datestart] %>','<%= locals[:dateend] %>')"><%= myagent["cdrmissed"] %></td>
<td class="table-success"><%= myagent["cdrduration"] %></td>
<td class="table-success"><%= myagent["cdravgduration"] %></td>

</tr>
<% end %>


</table>
