<table style="width:60%">
<tr>
<td>

<div class="card-body col-xl-14" style="position: relative;">
<div class="bg-primary col-xl-12 d-flex justify-content-between flex-wrap p-5 text-white align-items-lg-end">
<div class="d-flex flex-column">
<span class="h3 text-white" style="cursor: pointer" onClick="getCalls('123','<%= locals[:queueid] %>','0','<%= locals[:datestart] %>','<%= locals[:dateend] %>')"><%= locals[:allcalls] %></span>
<span><%= I18n.t(:allcalls) %></span>
</div>
</div>
</div>
</td>
<td>
<div class="card-body col-xl-14" style="position: relative;">
<div class="bg-success col-xl-12 d-flex justify-content-between flex-wrap p-5 text-white align-items-lg-end">
<div class="d-flex flex-column">
<span class="h3 text-white" style="cursor: pointer" onClick="getCalls('256','<%= locals[:queueid] %>','0','<%= locals[:datestart] %>','<%= locals[:dateend] %>')"><%= locals[:successcalls] %></span>
<span><%= I18n.t(:answered) %></span>
</div>
</div>
</div>
</td>



<td>
<div class="card-body col-xl-14" style="position: relative;">
<div class="bg-danger col-xl-12 d-flex justify-content-between flex-wrap p-5 text-white align-items-lg-end">
<div class="d-flex flex-column">
<span class="h3 text-white" style="cursor: pointer" onClick="getCalls('342','<%= locals[:queueid] %>','0','<%= locals[:datestart] %>','<%= locals[:dateend] %>')"><%= locals[:missedcalls] %></span>
<span><%= I18n.t(:missed) %></span>
</div>
</div>
</div>
</td>


<td>
<div class="card-body col-xl-14" style="position: relative;">
<div class="bg-info col-xl-12 d-flex justify-content-between flex-wrap p-5 text-white align-items-lg-end">
<div class="d-flex flex-column">
<span class="h3 text-white"><%= locals[:duration] %></span>
<span><%= I18n.t(:totaltime) %></span>
</div>
</div>
</div>
</td>


<td>
<div class="card-body col-xl-14" style="position: relative;">
<div class="bg-warning col-xl-12 d-flex justify-content-between flex-wrap p-5 text-white align-items-lg-end">
<div class="d-flex flex-column">
<span class="h3 text-white"><%= locals[:avgduration] %></span>
<span><%= I18n.t(:averagedur) %></span>
</div>
</div>
</div>
</td>

</tr>
</table>

