<h5>Successful Outbound Calls of <%= exten %></h5>
<table  id="productsTable01" class="table table-hover table-product" style="width:95%">
    <tr>
    <td>Caller</td>
    <td>Called</td>
    <td>Start time</td>
    <td>Time</td>
    <td>Channel</td>
    <td><%= link_to "Excel", stats_path(format: "xlsx"), class: "btn btn-xs btn-info btn-pill col-6"%></td>


    </tr>

  <% @queuecalls.each do |queuecall| %>
    <tr>

<% filename= "/var/www/html/records/"+current_user.account.id.to_s+"/"+queuecall.start.to_s[0..7].gsub('-', '')+"/"+queuecall.start.to_s[0..9].gsub('-', '')+ "/"+ queuecall.uniqueid + ".mp3"  %>
<% fileurl= "records/"+current_user.account.id.to_s+"/"+queuecall.start.to_s[0..7].gsub('-', '')+"/"+queuecall.start.to_s[0..9].gsub('-', '')+ "/"+ queuecall.uniqueid + ".mp3"  %>


    <td style="width:12%"><%= queuecall.src %></td>
    <td style="width:12%"><%= queuecall.dst %></td>
    <td style="width:25%"><%= queuecall.start.to_s[0,19] %></td>
    <td style="width:12%"><%= queuecall.billsec %></td>
    <td style="width:15%"><%= queuecall.dstchannel %></td>
    <td>
        <% if File.exists?(filename) && File.size(filename) > 1000 %>
        <audio controls style="width:190px; height: 35px">
        <source src="<%= fileurl %>" type="audio/mpeg" >
        </audio>
        <% end %>
    </td>

    </tr>
  <% end %>
</table>
