<h5>Missed Outbound Calls of <%= exten %></h5>
<table  id="productsTable01" class="table table-hover table-product" style="width:95%">
    <tr>
    <td><%= I18n.t(:caller) %></td>
    <td><%= I18n.t(:called) %></td>
    <td><%= I18n.t(:starttime) %></td>
    <td><%= I18n.t(:time) %></td>
    <td><%= I18n.t(:event) %></td>
    <td><%= link_to "Excel", stats_path(format: "xlsx"), class: "btn btn-xs btn-info btn-pill col-6"%></td>


    </tr>

  <% @queuecalls.each do |queuecall| %>
    <tr>

    <td style="width:12%"><%= queuecall.src %></td>
    <td style="width:12%"><%= queuecall.dst %></td>
    <td style="width:25%"><%= queuecall.start.to_s[0,19] %></td>
    <td style="width:12%"><%= queuecall.duration %></td>
    <td style="width:15%"><%= queuecall.disposition %></td>
    <td></td>

    </tr>
  <% end %>
</table>
