<h5>Missed Calls of <%= exten %></h5>
<table  id="productsTable01" class="table table-hover table-product" style="width:95%">
    <tr>
    <td>Caller</td>
    <td>Start time</td>
    <td>Duration</td>
    <td>Event</td>
    <td><%= link_to "Excel", stats_path(format: "xlsx"), class: "btn btn-xs btn-info btn-pill col-6"%></td>


    </tr>

  <% @queuecalls.each do |queuecall| %>
    <tr>

    <td style="width:17%"><%= queuecall.data1 %></td>
    <td style="width:33%"><%= queuecall.time.to_s[0,19] %></td>
    <td style="width:17%"><%= queuecall.data2.to_i %></td>
    <td style="width:17%"><%= queuecall.data3 %></td>
    <td style="width:27%"></td>

    </tr>
  <% end %>
</table>
