 <%= form_with(url: locals[:url], method: locals[:formmethod] , model: step) do |form| %>


<% exten_id = 0 %>
<% dialoptions= {:extens => "",:dialoptions => "Tt", :dialtimeout => 40} %>
<% if locals[:btitle] == "Update Ring Group Step" %>
<% dialoptions=getStepRingGroup(@step) %>
<% locals[:btitle] = I18n.t(:updateringgroupstep) %>
<% else %>
<% locals[:btitle] = I18n.t(:addringgroupstep)  %>
<% end %>


  <% if step.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
        <% step.errors.each do |error| %>Tt
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label I18n.t(:event), style: "display: block" %>
    <%= form.select :event, ['RingGroup'] ,  {prompt: "Select Event", :selected => 'RingGroup'} , {class: "col-2 form-control rounded-pill"} %>
  </div>

  <div>
    <%= form.label I18n.t(:extens), style: "display: block" %>
    <%= form.text_area :extens, class: "col-2 form-control rounded-pill", value: dialoptions[:extens] %>
  </div>


  <div>
    <%= form.label I18n.t(:timeout), style: "display: block" %>
    <%= form.text_field :timeout, class: "col-2 form-control rounded-pill", value: dialoptions[:dialtimeout] %>
  </div>

  <div>
    <%= form.label I18n.t(:options), style: "display: block" %>
    <%= form.text_field :options, class: "col-2 form-control rounded-pill", value: dialoptions[:dialoptions] %>
  </div>


  <div>
    <%= form.label I18n.t(:musiconhold), style: "display: block" %>
    <%= form.collection_select :moh_id, Moh.all.where(account_id: current_user.account.id), :id, :name ,{include_blank: true, selected: dialoptions[:moh_id]} , {class: "col-2 form-control rounded-pill"} %>
  </div>


  <div>
<br><%= form.submit locals[:btitle], :class => 'btn btn-sm btn-success btn-pill'%>
  </div>
<% end %>



