 <%= form_with(url: locals[:url], method: locals[:formmethod] , model: step) do |form| %>


<% exten_id = 0 %>
<% dialoptions= {:exten_id => 0,:dialoptions => "su"} %>
<% if locals[:btitle] == "Update Voicemail Step" %>
<% dialoptions=getStepVoicemail(@step) %>
<% locals[:btitle] = I18n.t(:updatevmstep) %>
<% else %>
<% locals[:btitle] = I18n.t(:addvmstep)  %>
<% end %>


  <% if step.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
        <% step.errors.each do |error| %>Tt
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label I18n.t(:event), style: "display: block" %>
    <%= form.select :event, ['Voicemail'] ,  {prompt: "Select Event", :selected => 'Voicemail'} , {class: "col-2 form-control rounded-pill"} %>
  </div>

  <div>
    <%= form.label I18n.t(:exten), style: "display: block" %>
    <%= form.collection_select :exten_id,  Exten.all.where(account_id: current_user.account.id).where("id in (select exten_id from voicemails)"), :id, :exten,  {prompt: "Select Extention", selected: dialoptions[:exten_id]}, {class: "col-2 form-control rounded-pill"} %>
  </div>

  <div>
    <%= form.label I18n.t(:options), style: "display: block" %>
    <%= form.text_field :options, class: "col-2 form-control rounded-pill", value: dialoptions[:dialoptions] %>
  </div>


  <div>
<br><%= form.submit locals[:btitle], :class => 'btn btn-sm btn-success btn-pill'%>
  </div>
<% end %>



