
<h3><%= I18n.t(:newsound) %></h3>
<%= form_with url: add_sound_path, method: :post,  model: @sound do |form| %>

  <div>
    <%= form.label I18n.t(:name) %><br>
    <%= form.text_field :name, value:@sound.name %>
  </div>


  <div>
    <%= form.label I18n.t(:audio) %>
    <%= form.file_field :audio %>
  </div>

  <div>
    <br><%= form.submit I18n.t(:addsound), :class => 'btn btn-info btn-pill' %>
  </div>
<% end %>
