<%= form_with(model: route) do |form| %>
  <% if route.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
        <% route.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.hidden_field :route_sip_id, value: @sipid %>


  <div>
    <%= form.label :sip_id, style: "display: block" %>
    <%= form.collection_select :sip_id, Sip.all.where(account_id: current_user.account.id), :id, :number , {prompt: "Select Number"} , {class: "col-2 form-control rounded-pill"} %>
  </div>

  <div>
    <%= form.label I18n.t(:name), style: "display: block" %>
    <%= form.text_field :name, {class: "col-2 form-control rounded-pill"} %>
  </div>

  <div>
    <%= form.label I18n.t(:record), style: "display: block" %>
    <%= form.select :record, ['Yes', 'No'] , {prompt: "Record Call or No?"} , {class: "col-2 form-control rounded-pill"}%>
  </div>

  <div>
    <%= form.label I18n.t(:day), style: "display: block" %>
    <%= form.date_field :day, {class: "col-2 form-control rounded-pill"} %>
  </div>

  <div>
    <%= form.label I18n.t(:daystart), style: "display: block" %>
   <%= form.select :daystart, ['mon', 'tue','wed','thu','fri','sat','sun'] , {prompt: "Select Start WeekDay"} , {class: "col-2 form-control rounded-pill"}%>
  </div>

  <div>
   <%= form.label I18n.t(:daystop), style: "display: block" %>
   <%= form.select :daystop, ['mon', 'tue','wed','thu','fri','sat','sun'] , {prompt: "Select Stop WeekDay"} , {class: "col-2 form-control rounded-pill"}%>

  </div>

  <div>
    <%= form.label I18n.t(:hourstart), style: "display: block" %>
   <%= form.select :hourstart, ['0', '1','2','3','4','5','6','7', '8','9','10','11','12','13','14', '15','16','17','18','19','20','21', '22','23'] , {prompt: "Select Start Hour"} , {class: "col-2 form-control rounded-pill"}%>

  </div>

  <div>
    <%= form.label I18n.t(:hourstop), style: "display: block" %>
   <%= form.select :hourstop, ['0', '1','2','3','4','5','6','7', '8','9','10','11','12','13','14', '15','16','17','18','19','20','21', '22','23'] , {prompt: "Select Stop Hour"} , {class: "col-2 form-control rounded-pill"}%>

  </div>

  <div>
<br><%= form.submit btitle, :class => 'btn btn-sm btn-success btn-pill'%>
  </div>
<% end %>
