<div id="<%= dom_id route %>">
  <p>
    <strong>Name:</strong>
    <%= route.name %>
  </p>

  <p>
    <strong>Record:</strong>
    <%= route.record %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= route.account %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= route.day %>
  </p>

  <p>
    <strong>Daystart:</strong>
    <%= route.daystart %>
  </p>

  <p>
    <strong>Daystop:</strong>
    <%= route.daystop %>
  </p>

  <p>
    <strong>Hourstart:</strong>
    <%= route.hourstart %>
  </p>

  <p>
    <strong>Hourstop:</strong>
    <%= route.hourstop %>
  </p>

</div>
