<div id="<%= dom_id category %>">
  <p>
    <strong>Title:</strong>
    <%= category.title %>
  </p>

  <p>
    <strong>Edscription:</strong>
    <%= category.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= category.status %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= category.account_id %>
  </p>

</div>
