<h4><%= I18n.t(:queueoperators) %></h4>
<table  id="accountsTable" class="table table-hover table-product" style="width:97%;font-size: 12px">
<tr>
<td><%= I18n.t(:agent) %></td>
<td><%= I18n.t(:name) %></td>
<td><%= I18n.t(:state) %></td>
<td><%= I18n.t(:number) %></td>
<td><%= I18n.t(:ontime) %></td>
<td class="table-primary"><%= I18n.t(:allin) %></td>
<td class="table-primary"><%= I18n.t(:answered) %></td>
<td class="table-primary"><%= I18n.t(:missed) %></td>
<td class="table-primary"><%= I18n.t(:time) %></td>
<td class="table-primary"><%= I18n.t(:average) %></td>

<td class="table-success"><%= I18n.t(:allout) %></td>
<td class="table-success"><%= I18n.t(:answered) %></td>
<td class="table-success"><%= I18n.t(:missed) %></td>
<td class="table-success"><%= I18n.t(:time) %></td>
<td class="table-success"><%= I18n.t(:average) %></td>




<% locals[:agentrowdata].each do |myagent| %>
<tr>
<td class="table-info"><%= myagent["agent"] %></td>
<td class="table-info" style="font-size: 12px"><%= myagent["agentname"] %></td>

<td class="table-warning <%= "text-success" if myagent[:state] == "online" %><%= "text-dark" if myagent[:state] == "offline" %><%= "text-info" if myagent[:state] == "Ringing" %><%= "text-danger" if myagent[:state] == "Up" %>" style="font-size: 12px"><%= myagent[:state] %></td>
<td class="table-warning" style="font-size: 12px"><%= myagent[:number] %></td>
<td class="table-warning" style="font-size: 12px"><%= myagent[:duration] %></td>


<td class="table-primary"><%= myagent["all"] %></td>
<td class="table-primary"><%= myagent["success"] %></td>
<td class="table-primary"><%= myagent["missed"] %></td>
<td class="table-primary"><%= myagent["duration"] %></td>
<td class="table-primary" style="font-size: 12px"><%= myagent["avgduration"] %></td>

<td class="table-success"><%= myagent["cdrall"] %></td>
<td class="table-success"><%= myagent["cdrsuccess"] %></td>
<td class="table-success"><%= myagent["cdrmissed"] %></td>
<td class="table-success"><%= myagent["cdrduration"] %></td>
<td class="table-success" style="font-size: 12px"><%= myagent["cdravgduration"] %></td>

</tr>
<% end %>


</table>
