<h4><%= I18n.t(:general) %><h4>
<%= render "head" %>
<table style="width: 98%" border=0>
<tr>
<td>
<%= render "agents", locals: {:agentrowdata => @agentrowdata, :queueid => @queue_id, :datestart => @datestart, :dateend => @dateend}  %>
</td>
<td align="left" valign="top">
<table border=0 style="width: 97%" class="table table-hover table-product">
<tr>
<td colspan=4 align="center"><%= I18n.t(:callers) %></td>
</tr>

<tr>
<td><%= I18n.t(:caller) %></td>
<td><%= I18n.t(:started) %></td>
<td><%= I18n.t(:agent) %></td>
<td><%= I18n.t(:time) %></td>
</tr>

<% @callerres.each do |callerrow| %>
<tr class="table-warning <%= "text-success" if callerrow["myagent"] != "" %>">
<td><%= callerrow["data2"] %></td>
<td><%= callerrow["time"].to_s[11..19] %></td>
<td><%= callerrow["myagent"] %></td>
<td><%= callerrow["mytime"] %></td>
</tr>
<% end %>


</table>
</td>








<td align="left" valign="top" style="margin-left:40px" >
<table border=0 style="width: 70%" class="table table-hover table-product">

<tr>
<td colspan=4 align="center"><%= I18n.t(:missedcalls) %></td>
</tr>

<tr>
<td><%= I18n.t(:caller) %></td>
<td><%= I18n.t(:time) %></td>
<td><%= I18n.t(:callback) %></td>
<td><%= I18n.t(:agent) %></td>
</tr>

<% @missedcallerres.each do |missedcallerrow| %>
<tr class="table <%= "table-danger" if missedcallerrow["myagent"] == "" %> <%= "table-success" if missedcallerrow["myagent"] != "" %>">
<td><%= missedcallerrow["data2"] %></td>
<td><%= missedcallerrow["time"].to_s[11..19] %></td>
<td><%= missedcallerrow["mytime"] %></td>
<td><%= missedcallerrow["myagent"] %></td>

</tr>
<% end %>


</table>
</td>




</tr>
</table>