        <aside class="left-sidebar sidebar-dark" id="left-sidebar">
          <div id="sidebar" class="sidebar sidebar-with-footer">
            <!-- Aplication Brand -->
            <div class="app-brand">
              <a href="/index.html">
<%= image_tag(current_user.account.image.thumb.url, alt: 'Image' , class:"user-image rounded-circle") if current_user.account.image? %>
<%= image_tag "logo.png" if !current_user.account.image? %>
                <span class="brand-name"><%= current_user.account.name %></span>
              </a>
            </div>
            <!-- begin sidebar scrollbar -->
            <div class="sidebar-left" data-simplebar style="height: 100%;">
              <!-- sidebar menu -->
              <ul class="nav sidebar-inner" id="sidebar-menu">
                
                

<% if current_user.isadmin == 1 %>
                  <li>
                  <%= link_to accounts_path do %>
                  <i class="fa fa-user-circle" aria-hidden="true"></i>
                  <span class="nav-text">Accounts</span>
                  <% end %>
                  </li>
<% end %>
                

                

                
                  <li
                   >
                    <a class="sidenav-item-link" href="../cdr/">
                      <i class="fa fa-database" aria-hidden="true"></i>
                      <span class="nav-text">CDR</span>
                    </a>
                  </li>
                

                

                
                

                

                

<% if @userpermissionspages['permission_routes'] == 1 %>
                  <li
                   >

                  <%= link_to routes_path do %>
                  <i class="fa fa-level-down" aria-hidden="true"></i>
                  <span class="nav-text">Inbound</span> <span class="badge badge-pill badge-primary"><%= Route.where(account_id: current_user.account.id).count %></span>
                  <% end %>
                  </li>
<% end %>


<% if @userpermissionspages['permission_active'] == 1 %>
                  <li
                   >

                  <%= link_to active_path do %>
                  <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                  <span class="nav-text">Active</span> <span class="badge badge-pill badge-primary"></span>
                  <% end %>
                  </li>
<% end %>


                

                
                  <li  class="has-sub" >
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#email"
                      aria-expanded="false" aria-controls="email">
                      <i class="fa fa-cubes" aria-hidden="true"></i>
                      <span class="nav-text">SIP Settings</span> <b class="caret"></b>
                    </a>
                    <ul  class="collapse"  id="email"
                      data-parent="#sidebar-menu">
                      <div class="sub-menu">


<% if @userpermissionspages['permission_extensions'] == 1 %>
                            <li >
                  <%= link_to extens_path do %>
                                <span class="nav-text">Extension</span> <span class="badge badge-pill badge-primary"><%= Exten.where(account_id: current_user.account.id).count %></span> 
                  <% end %>
                              </a>
                            </li>
<% end %>

<% if @userpermissionspages['permission_sips'] == 1 %>
                  <li>
                  <%= link_to sips_path do %>
                  <span class="nav-text">SIP Lines</span> <span class="badge badge-pill badge-primary"><%= Sip.where(account_id: current_user.account.id).count %></span>

                  <% end %>
                  </li>
<% end %>

                      </div>
                    </ul>
                  </li>


                  <li  class="has-sub" >
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#email2"
                      aria-expanded="false" aria-controls="email2">
                      <i class="fa fa-share-alt" aria-hidden="true"></i>
                      <span class="nav-text">Queues</span> <b class="caret"></b>
                    </a>
                    <ul  class="collapse"  id="email2"
                      data-parent="#sidebar-menu">
                      <div class="sub-menu">

<% if @userpermissionspages['permission_queues'] == 1 %>
                            <li >
                              <%= link_to hotlines_path do %>
                                <span class="nav-text">Queues</span> <span class="badge badge-pill badge-primary"><%= Hotline.where(account_id: current_user.account.id).count %></span>
                              <% end %>
                            </li>
<% end %>


<% if @userpermissionspages['permission_queues'] == 1 %>
                  <li
                   >

                  <%= link_to stats_path do %>
                  <span class="nav-text">Statistics</span> 
                  <% end %>
                  </li>
<% end %>


                            <li >
                              <a class="sidenav-item-link" href="../monitor/">
                                <span class="nav-text">Monitor</span>
                              </a>
                            </li>
                      </div>
                    </ul>
                  </li>
                

                
<% if @userpermissionspages['permission_sounds'] == 1 %>
                  <li>
                  <%= link_to sounds_path do %>
                  <i class="fa fa-play" aria-hidden="true"></i>
                  <span class="nav-text">Sounds</span> <span class="badge badge-pill badge-primary"><%= Sound.where(account_id: current_user.account.id).count %></span>
                  <% end %>

                  </li>
<% end  %>

<% if @userpermissionspages['permission_mohs'] == 1 %>
                  <li>
                  <%= link_to mohs_path do %>
                  <i class="fa fa-forward" aria-hidden="true"></i>
                  <span class="nav-text">Music On Hold</span>
                  <% end %>

                  </li>
<% end  %>


<% if @userpermissionspages['permission_users'] == 1 %>
                  <li>
                  <%= link_to users_path do %>
                  <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                  <span class="nav-text">Users</span> <span class="badge badge-pill badge-primary"><%= User.where(account_id: current_user.account.id).count %></span>
                  <% end %>
                  </li>
<% end  %>

                
                

                
              </ul>

            </div>

            <div class="sidebar-footer">
              <div class="sidebar-footer-content">
                <ul class="d-flex">
                  <li>
<%= link_to edit_user_registration_path  do %>
<span data-toggle="tooltip" title="Profile Settings">
           <i class="mdi mdi-account-outline"></i>
</span>
<% end %>
</li>
                  <li>

<%= link_to myaccount_path  do %>
<span data-toggle="tooltip" title="Account Settings">
           <i class="mdi mdi-settings"></i>
</span>
<% end %>

                  </li>
                </ul>
              </div>
            </div>
          </div>
        </aside>

