<h4><%= I18n.t(:account) %></h4>



<%= form_with(url: update_myaccount_path, method: :post , model: @account) do |form| %>
  <% if @account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% @account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= form.label I18n.t(:name), style: "display: block" %>
    <%= form.text_field :name, class: "col-2 form-control rounded-pill" %>
  </div>

  <div>
    <%= form.label I18n.t(:phone), style: "display: block" %>
    <%= form.text_field :phone, class: "col-2 form-control rounded-pill" %>
  </div>

  <div>
    <%= form.label I18n.t(:address), style: "display: block" %>
    <%= form.text_field :address, class: "col-2 form-control rounded-pill" %>
  </div>

  <div>
    <%= form.label I18n.t(:image) %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label I18n.t(:apitoken) %>
    <%= form.text_field :token, class: "col-6 form-control rounded-pill" %>
<button type="button" class="mb-1 btn btn-sm btn-info btn-pill" onClick="getToken()">
  <i class="fa fa-refresh"></i>
  <%= I18n.t(:generate) %>
</button>

<button type="button" class="mb-1 btn btn-sm btn-info btn-pill" onClick="toClipboard(document.getElementById('account_token'))">
  <i class="fa fa-clipboard"></i>
  <%= I18n.t(:toclipboard) %>
</button>

  </div>

  <div>
    <%= form.label I18n.t(:sip_ips), style: "display: block" %>
    <%= form.text_area :apiips, size: "10x3", class: "col-4 form-control pill" %>
  </div>


  <div>
   <br><%= form.submit I18n.t(:update), :class => 'btn btn-sm btn-success btn-pill'%>
  </div>
<% end %>
